# ===============================
# Python
# ===============================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.eggs/

# ===============================
# Virtual environments
# ===============================
.venv/
venv/
env/
ENV/

# ===============================
# Environment variables
# ===============================
.env
.env.*
!.env.example

# ===============================
# IDEs & Editors
# ===============================
.vscode/
.idea/
*.iml

# ===============================
# OS files
# ===============================
.DS_Store
Thumbs.db

# ===============================
# Logs
# ===============================
logs/
*.log


# ===============================
# Alembic
# ===============================
alembic/versions/*.pyc
alembic/versions/__pycache__/

# ===============================
# Testing & Coverage
# ===============================
.pytest_cache/
.coverage
coverage.xml
htmlcov/

# ===============================
# Jupyter
# ===============================
.ipynb_checkpoints/

# ===============================
# Build / Packaging
# ===============================
build/
dist/
wheelhouse/
pip-wheel-metadata/

# ===============================
# Docker
# ===============================
docker-compose.override.yml

# ===============================
# Cache / Temp
# ===============================
.cache/
.tmp/
*.swp
